/* shared styles */
/* * {
  margin: 0;
  padding: 0;
} */
body {
  color: white;
  background-color: black;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.max-width {
  max-width: 1100px;
  margin: 0 auto;
}
.primary-title{
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
.primary-description{
  color: #FFFFFF80;
  font-size: 16px;
}
.text-center{
  text-align: center;
}

.btn-primary {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #e6533c;
  padding: 1rem 3rem;
  border-radius: 42px;
}

/* nav related styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.nav-name {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}
.nav-items {
  display: flex;
  gap: 47px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  /* padding: 12px; */
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.hidden{
  display: none;
}

/* banner section */
.banner-section{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 10px;
}
.banner-content{
  width: 50%;
  margin-right: 10rem;
}

.banner-title{
  font-size: 4.8rem;
  font-weight: 900;
  margin: 0;
}
.banner-description{
  color: #FFFFFF80;
}
.banner-btn-container{
  display: flex;
  gap: 18px;
}
.banner-btn{
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 16px 40px;
  border: 1px solid white;
  border-radius: 42px;
}


/* habit section styles */
.habit-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3.5rem;
}
.habit-item{
  text-align: center;
}
.habit-title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 2rem;
}
.habit-img{
  border-radius: 100%;
}

/* extra mile section */
.extra-mile-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  border-radius: 18px;
}
.extra-mile-content{
  padding: 40px;
}

.extra-mile-images{
  padding: 30px;
  margin-left: 165px;
}
.mile-img{
  width: 445px;
  border-radius: 18px;
  /* padding: 30px; */
}




/* small device responsive */
@media screen and (max-width: 576px) {

  .primary-title{
    font-size: 2rem;
  }
  .nav-items {
    display: none;
  }

    /* banner section */
    .banner-section{
      display: block;
    }
    .banner-content{
      width: 100%;
    }
    .banner-title{
      font-size: 3rem;
    }

    /* habit section */
    .habit-container{
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
    }
}
