/* shared styles */
@import url("https://fonts.cdnfonts.com/css/miama");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  color: white;
  background-color: black;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.max-width {
  max-width: 1060px;
  margin: 0 auto;
}
.primary-title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
.primary-description {
  color: #ffffff80;
}
.text-center {
  text-align: center;
}
.btn-primary {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #e6533c;
  padding: 1rem 3rem;
  border-radius: 2.8rem;
}

/* nav related styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.nav-name {
  color: rgb(230, 83, 60);
  font-size: 2.4rem;
  font-weight: 800;
  font-style: italic;
}
.menubar {
  display: none;
}
.nav-items {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5rem;
  padding: 8px;
}
.home {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 3rem;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.hidden {
  display: none;
}

/* banner section */
.banner-section {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 10px;
  margin-bottom: 6rem;
}
h1 span {
  font-family: "Miama", sans-serif;
  font-style: italic;
  background-color: transparent;
}
.banner-content {
  width: 50%;
  margin-right: 10rem;
}

.banner-title {
  font-size: 4.8rem;
  font-weight: 900;
  margin: 0;
}
.banner-description {
  color: #ffffff80;
}
.banner-btn-container {
  display: flex;
  gap: 1.2rem;
}
.banner-btn {
  font-size: 1.12rem;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 2.6rem;
}
.banner-img-section {
  position: relative;
}
.banner-img-box {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.box-red{
  background-color: #E6533C;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.box-title1{
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
}
.box-title2{
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}
.box-1 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem 1.5rem;
  left: -100px;
  bottom: 40px;
}
.box-2 {
  padding: 0.3rem 1.25rem;
  right: -60px;
  top: 90px;
}

/* habit section styles */
.habit-section {
  margin: 6rem 0;
}
.habit-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3.5rem;
}
.habit-item {
  text-align: center;
}
.habit-title {
  font-size: 1.12rem;
  font-weight: 600;
  margin-top: 2rem;
}
.habit-img {
  border-radius: 100%;
}

/* extra mile section */
.extra-mile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  border-radius: 1.12rem;
  margin: 6rem auto;
}
.extra-mile-content {
  padding: 2.8rem;
}

.extra-mile-images {
  padding: 2rem;
  /* margin-left: 165px; */
}
.mile-img {
  width: 23rem;
  border-radius: 1.12rem;
  /* padding: 30px; */
}

/* BMI styles */
.bmi-section {
  background: rgb(34, 34, 34);
  padding: 3rem;
  margin: 6rem 0;
}
.bmi-container {
  display: flex;
  justify-content: space-between;
}
.bmi-calculator {
  width: 50%;
}
.bmi-title {
  font-size: 1.8rem;
  font-weight: 700;
}
table {
  border-collapse: collapse;
}
td,
th {
  color: #ffffff80;
  padding: 1rem;
  border: 1px solid #ffffff80;
}
th {
  color: white;
}
form {
  margin-bottom: 2rem;
}
form input,
select {
  padding: 1.25rem;
  width: 100%;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.input-items {
  display: flex;
  flex-direction: row;
  /* width: calc(100 - 18px); */
}

/* Team styles */

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 4.8rem;
  background-color: #ffffff1a;
  border-radius: 18px;
  padding: 1.25rem;
}
.img-team {
  position: relative;
}
.img-team img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.team-text {
  position: absolute;
  color: white;
  left: 20px;
  bottom: 20px;
}
.trainer-title {
  font-weight: 700;
  margin: 0;
}

/* footer styles */
footer {
  background-color: #ffffff1a;
  margin-top: 100px;
}
.footer-section {
  display: flex;
  padding: 4rem;
}
.footer-fitness {
  color: rgb(230, 83, 60);
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  font-style: italic;
}
.footer-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-content {
  width: 100%;
}
.footer-item {
  font-size: 1.4rem;
  list-style: none;
}
.footer-link {
  text-decoration: none;
  color: #ffffff80;
}
.copyright {
  font-size: 1.25rem;
  color: #ffffff80;
  text-align: center;
  padding: 1.25rem 0;
}

/* subscribe plan styles */
.plan-container {
  display: flex;
  color: #ffffff80;
  justify-content: space-between;
}
.plan {
  align-items: center;
  margin-top: 3rem;
  padding: 1.25rem;
  border-radius: 10px;
  background-color: #222222;
}
.plan-2 {
  transform: scale(1.2);
}
.plan-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
}
.plan-subtitle {
  font-size: 1rem;
  color: white;
  /* margin: 0; */
}

/* small device responsive */
@media screen and (max-width: 576px) {
  /* shared styles */
  .primary-title {
    font-size: 2rem;
  }
  .nav-items {
    display: none;
  }
  .menubar {
    display: block;
  }

  /* banner section */
  .banner-section {
    display: block;
  }
  .banner-content {
    width: 100%;
  }

  .banner-title {
    font-size: 3rem;
  }
  .banner-img {
    width: 80%;
  }

  /* habit section */
  .habit-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  /* extra mile section */
  .extra-mile-section {
    display: block;
  }
  .extra-mile-images {
    margin: 0;
  }
  .mile-img {
    width: 220px;
  }

  /* BMI styles */
  .bmi-section {
    padding: 1rem;
  }
  .bmi-container {
    display: block;
  }
  .bmi-calculator {
    width: 100%;
  }
  .input-items {
    display: block;
  }

  /* team styles */
  .team-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
    /* margin-top: 4.8rem; */
    background-color: #ffffff1a;
    border-radius: 18px;
    padding: 1.25rem;
  }

  /* footer styles */
  .footer-section {
    display: block;
    /* padding: 60px; */
  }
  .footer-items {
    display: block;
  }
  /* plan styles */
  .plan-container {
    display: block;
  }
  .plan {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plan-2 {
    transform: none;
  }
}
